
AddInEditor_ProconwinImport/bin/

AddInEditor_ProconwinImport/obj/

AddInEditor_ProconwinImport/.vs/

AddInEditor_ProconwinImport/AddInEditor_ProconwinImport.csproj

AddInEditor_ProconwinImport/packages/
